.activity.formx
    .formx__header
        .formx__title Последние действия
        .formx__action
            a(href="#")
                img(src="/admin/assets/img/expand.svg")
    .formx__main
        .activity__posts 
            .activity__post
                .activity__wrap
                    .activity__title.text.text_type1 Всем привет, новый пост
                    .activity__text 20.04.2022
                .activity__text Новая публикация
                hr.formx__hr
            .activity__post
                .activity__wrap
                    .activity__title.text.text_type1 Всем привет, новый пост
                    .activity__text 20.04.2022
                .activity__text Новая публикация
                hr.formx__hr
            .activity__post
                .activity__wrap
                    .activity__title.text.text_type1 Всем привет, новый пост
                    .activity__text 20.04.2022
                .activity__text Новая публикация
                hr.formx__hr

