.box
    .box__header
        .box__title Default
        .box__controls
            a(href="#"): img(src="/admin/assets/img/edit.svg")
            a(href="#"): img(src="/admin/assets/img/delete.svg")
    .box__body
        .box__row
            label.radio
                input(type="radio" class="box__item box__item_radio radio__input" name="theme" checked)
                span(class="box__item text text_type2 radio__text") Активировать
    .box__footer
        img(src="/admin/assets/img/image 12.png" alt="" title="" class="box__picture")