.box
    .box__header
        .box__title Транспорт
        .box__controls
            a(href="#"): img(src="/admin/assets/img/edit.svg")
            a(href="#"): img(src="/admin/assets/img/delete.svg")
    .box__body
        .box__row
            .box__item.text.text_type2 Публикаций
            .box__item.text.text_type1 132 поста
        .box__row
            .box__item.text.text_type2 Создана
            .box__item.text.text_type1 02.04.2022