.box
    .box__header
        .box__title Главная
        .box__controls
            a(href="#"): img(src="/admin/assets/img/edit.svg")
            a(href="#"): img(src="/admin/assets/img/delete.svg")
    .box__body
        .box__row
            .box__item.text.text_type2 Создана
            .box__item.text.text_type1 03.04.2022
        .box__row
            .box__item.text.text_type2 Статус
            .box__item.text.text_type1 Опубликована
    .box__footer
        a(href="#" class="button") Открыть в редакторе