.control-panel.grid__item.grid__item_type2.formx
    .formx__title Панель управления SampleText
    form.control-panel__form.form-control
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="publish" id="publish")
            label(class="text text_type2 checkbox__text" for="publish") Опубликовать
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="turn-optimization" id="turn-optimization")
            label(class="text text_type2 checkbox__text" for="turn-optimization") Отслеживать оптимизацию
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="turn-visits" id="turn-visits")
            label(class="text text_type2 checkbox__text" for="turn-visits") Показывать посещения
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="publish" id="publish")
            label(class="text text_type2 checkbox__text" for="publish") Опубликовать
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="turn-activity" id="turn-activity")
            label(class="text text_type2 checkbox__text" for="turn-activity") Последние действия
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="turn-create-post" id="turn-create-post")
            label(class="text text_type2 checkbox__text" for="turn-create-post") Создание публикации
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="turn-optimizator" id="turn-optimizator")
            label(class="text text_type2 checkbox__text" for="turn-optimizator") Оптимизация
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="turn-users" id="turn-users")
            label(class="text text_type2 checkbox__text" for="turn-users") Пользователи
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="posts" id="posts")
            label(class="text text_type2 checkbox__text" for="posts") Публикации
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="publish" id="publish")
            label(class="text text_type2 checkbox__text" for="publish") Опубликовать
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="publish" id="publish")
            label(class="text text_type2 checkbox__text" for="publish") Опубликовать
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="publish" id="publish")
            label(class="text text_type2 checkbox__text" for="publish") Опубликовать
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="publish" id="publish")
            label(class="text text_type2 checkbox__text" for="publish") Опубликовать
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="publish" id="publish")
            label(class="text text_type2 checkbox__text" for="publish") Опубликовать
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="publish" id="publish")
            label(class="text text_type2 checkbox__text" for="publish") Опубликовать
        .checkbox.form-control__item
            input(type="checkbox" class="checkbox__input" name="publish" id="publish")
            label(class="text text_type2 checkbox__text" for="publish") Опубликовать