header.header
	h1.header__title SampleText
	.menu
		a(href="#" class="menu__link") Справка
		a(href="#" class="menu__link") Username
		a(href="#" class="menu__link")
			img(src="/admin/assets/img/logout.svg" alt="logout")