.m-items__row
    .m-items__subrow
        .m-items__edit
            img(src="/admin/assets/img/edit.svg" alt="edit")
        .m-items__name Главная
    .m-items__url /
    .m-items__controls
        img(src="/admin/assets/img/edit.svg" alt="edit")
        img(src="/admin/assets/img/dragdrop.svg" alt="dragdrop" class="dragdrop")