.optimization.formx
    .formx__header
        .formx__title Оптимизация
        .formx__action
            a(href="#")
                img(src="/admin/assets/img/expand.svg")
    .formx__main
        .optimization__row.flex-row
            .optimization__item 
                span.optimization__text Размер страницы
                h3.optimization__data 1.2 MB
            .optimization__item 
                span.optimization__text Время загрузки
                h3.optimization__data 123 мс
            .optimization__item 
                span.optimization__text Запросов в секунду
                h3.optimization__data 26
            .optimization__item 
                span.optimization__text Посещений в сутки
                h3.optimization__data 121
        
            
            