.users.formx
    .formx__header
        .formx__title Пользователи
        .formx__action
            a(href="#")
                img(src="/admin/assets/img/expand.svg")
    .formx__main
        .users__wrap.flex-row.flex-row_sb
            .users__title.text.text_type1 Заза Харатишвили
            .users__text.text.text_type2 20.04.2022
            .users__text.text.text_type2 Новая публикация
        hr.formx__hr
        .users__wrap.flex-row.flex-row_sb
            .users__title.text.text_type1 Заза Харатишвили
            .users__text.text.text_type2 20.04.2022
            .users__text.text.text_type2 Новая публикация
        hr.formx__hr
        .users__wrap.flex-row.flex-row_sb
            .users__title.text.text_type1 Заза Харатишвили
            .users__text.text.text_type2 20.04.2022
            .users__text.text.text_type2 Новая публикация
        hr.formx__hr
        .users__wrap.flex-row.flex-row_sb
            .users__title.text.text_type1 Заза Харатишвили
            .users__text.text.text_type2 20.04.2022
            .users__text.text.text_type2 Новая публикация
        hr.formx__hr